*{
 background-color: black;
}
.ul{
    background-color: yellowgreen;
    color: antiquewhite;
}
.head{
    color: aliceblue;
}
.pure{
    color: thistle;
}
.about{
    background-color: silver;
    color: black;
}
